# Ignore node_modules folder
node_modules/

# Ignore build artifacts
/dist/
/build/
/out/
/.parcel-cache/
/.vite/

# Ignore environment variables
.env

# Ignore TypeScript config files
tsconfig.json
tsconfig.build.json
tsconfig.node.json

# Ignore IDE/Editor-specific files
*.log
*.iml
.vscode/
.idea/
.DS_Store
